.newsBlock {
  position: relative;
}

.newsItem {
  background: white;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 240px;
  background: white;
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* Затемнение */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: opacity 0.4s ease;
}

/* Появление overlay при наведении */
.imageWrapper:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9), 0 0 9px rgba(0, 0, 0, 0.7);

}

/* Ссылка "Читати далі..." */
.readMoreLink {
  display: block;
  padding: 12px;
  text-align: center;
  color: #016630;
  font-weight: bold;
  text-decoration: none;
}

.readMoreLink:hover {
  text-decoration: underline;
}

.dateOverlay {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  z-index: 2;
}

/* Стили для навигации */
.navigationButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 16px;
}

.navWrapper {
  position: relative;
}

.navButton {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navButton svg {
  stroke: white;
  width: 24px;
  height: 24px;
}

/* Стили для мобильной версии */
@media (max-width: 768px) {
  .newsItem {
    padding: 15px;
  }

  .newsItem h3 {
    font-size: 16px;
    display: block; /* Убедимся, что заголовок виден */
    text-align: center;
    margin: 10px 0;
  }

  .newsItem a {
    width: 100%;
    font-size: 12px;
  }

  .newsImage {
    width: auto;
    aspect-ratio: 16 / 9; /* Соотношение сторон 16:9 */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
    height: 150px; /* Меньшая высота для мобильных устройств */
  }

  .newsBlock {
    width: 100%;
    padding: 10px;
  }

  .overlay {
    opacity: 1; /* Заголовок будет видим на мобильных устройствах */
    display: flex;
    justify-content: center;
    align-items: center;
  background: rgba(0, 0, 0, 0);

  }

  .navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    gap: 20px;
  }

  .navWrapper {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navButton {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    z-index: 999;
  }

  .navButton:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }
}
